{% extends 'base.html' %}
{% load static %}

{% block title%}
{{ champ.name }}'s Details | Summoner's Academy
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-content">
        <div class="img-wrapper">
            {% if champ.name == 'Wukong' %}
            <img class="responsive-img" src="{% static 'imgs/splash/' %}MonkeyKing_0.jpg" alt="{{ champ.name }}">
            {% else %}
            <img class="responsive-img" src="{% static 'imgs/splash/' %}{{ champ.name }}_0.jpg" alt="{{ champ.name }}">
            {% endif %}
            <p class="center-align">{{ champ.title }}</p>
            <p class="center-align"><span class="card-title">{{ champ.name }}</span></p>
        </div>
    </div>
</div>
{% if builds %}
{% for build in builds %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ build.build_name }}</span>
        <p>{{ build.mythic }}, {{ build.boots }}, {{ build.legendary_1 }}, {{ build.legendary_2 }}, {{ build.legendary_3 }}, {{ build.legendary_4 }}</p>
        <h6>Built by: {{ build.user }}</h6>
    </div>
</div>
{% endfor %}
{% else %}
<p class="red-text">No builds :(</p>
{% endif %}
{% endblock %}