{% extends 'base.html' %}
{% load static %}

{% block title %}
Welcome Summoner! | Summoner's Academy
{% endblock%}

{% block content %}
<h1>Welcome to Summoner's Academy</h1>
<h3>Choose your Champion</h3>

{% for champ in champions.values %}

<div class="champion-card">
    <a href="{% url 'detail' champ.id %}">
        <div class="content-wrapper">
            <img src="{% static 'imgs/loading/' %}{{ champ.id }}_0.jpg" alt="{{ champ.name }}">
            <p>{{ champ.name }}</p>
        </div>
    </a>
</div>


{% endfor %}

{% endblock%}