body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

nav {
    background-color: black !important;
}

.page-footer {
    background-color: whitesmoke !important;
    color: black !important;
}